<div class="content" *ngIf="season">
  <!--  Season details-->
  <div class="season-container">
    <div class="season gradient-bg"
         *ngIf="season"
         [matTooltip]="season.description"
         [matTooltipDisabled]="!season.description"
         matTooltipShowDelay=500>
      <span class="season-title">{{ season.title }}</span>
      <span class="season-subtitle" *ngIf="season.subtitle"> - {{ season.subtitle }}</span>
    </div>
  </div>
  <!--  Episodes-->
  <app-embed-podcast-no-episodes *ngIf="episodes && episodes.length === 0"></app-embed-podcast-no-episodes>
  <app-embed-podcast-episode *ngFor="let episode of episodes"
                             [data]="{episode: episode, season: season}">
  </app-embed-podcast-episode>
</div>
