.background {
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -10;
}

.content {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outlet {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  max-width: 75%;
  margin-top: 5%;
  padding: 30px;
}

footer {
  color: lightgray;
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer > img {
  width: 50px;
}
