<div class="background" style="background-image: url(assets/home-bg.jpg)"></div>
<div class="main-container">
  <div class="content">
    <img class="logo" src="../../../../assets/lu-logo-w-txt-white.png" alt="Life unlimited logo">
    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer>
    <div>Podcastination {{ version }} by Dreamteam Production</div>
    <div>-</div>
    <div><a href="https://www.life-unlimited.church/impressum">Impressum</a></div>
  </footer>
</div>
