.clickable {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
}

.gradient-bg {
  background: linear-gradient( 90deg, #f4f4f4, whitesmoke );
}

.single-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
